		*
{
	margin: 0;
	padding: 0;
}

.image-area
{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.img-wrapper
{
	width: 180px;
	height: 230px;
	position: relative;
	overflow: hidden;
}

.img-wrapper:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 180%;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.3);
	z-index: 1;
	transform: skew(45deg);
	transition: .5s;
}

.img-wrapper:hover:before
{
	left: -180%;
}

.img-wrapper img
{
	height: 230px;
	width: 180px;
	filter: grayscale(100%);
	transition: 2s;
}
.img-wrapper:hover img
{
	filter: grayscale(0%);
	transform: scale(1.1);
}

.img-wrapper h2
{
	background: #ffba27;
	font-family: Poppins;
	color: #333;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: perspective(400px) rotateY(90deg);
	transform-origin: right;
	transition: 1s;
}

.img-wrapper:hover h2
{
	transform: perspective(400px) rotateY(0deg);
}

.img-wrapper ul
{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li
{
	background: #333;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	transform: perspective(800px) rotateY(90deg);
	transition: .5s;
	transform-origin: left;
}

.img-wrapper:hover ul li
{
	transform: perspective(800px) rotateY(0deg);
}

.img-wrapper:hover ul li:nth-child(1)
{
	transition-delay: .2s;
}

.img-wrapper:hover ul li:nth-child(2)
{
	transition-delay: .6s;
}

.img-wrapper:hover ul li:nth-child(3)
{
	transition-delay: .8s;
}

.img-wrapper:hover ul li:nth-child(4)
{
	transition-delay: 1s;
}

.img-wrapper ul li a
{
	color: #ffba27;;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li i
{
	color: #ffba27;;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li i:hover
{
	color: #fff;
	background: rgba(255,255,255,0);
}
div.img-wrapper{
	border-style: solid;
	border-color: grey;
}
div.image-area2{
	position: absolute;
	left: 150px;
	top: 80px;
}
div.image-area1{
	position: absolute;
	left: 470px;
	top: 80px;
}
div.image-area3{
	position: absolute;
	left: 780px;
	top: 80px;
}
div.image-area4{
	position: absolute;
	left: 920px;
	top: 400px;
}
div.image-area5{
	position: absolute;
	left: 695px;
	top: 400px;
}
div.image-area6{
	position: absolute;
	left: 475px;
	top: 400px;
}
div.image-area7{
	position: absolute;
	left: 255px;
	top: 400px;
}
div.image-area8{
	position: absolute;
	left: 40px;
	top: 400px;
}
