.ca-menu li{
  width: 390px;
  height: 80px;
  overflow: hidden;
  position: relative;
  display: block;
  background: #353332;
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  margin-bottom: 2px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;

}
.ca-menu li label{
  cursor: pointer;
  width: 10%;
  display: block;
  color: #ffffff;
  position: relative;
}
.ca-icon{
  font-size: 30px;
  color: #ffc732;
  text-shadow: 0px 0px 1px #333;
  line-height: 90px;
  position: absolute;
  width: 90px;
  /*left: 10px;*/
  text-align: center;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear; 
}
.ca-content{
  position: absolute;
  left: 90px;
  width: 370px;
  height: 60px;
  top: 20px;
}
.ca-main{
  font-size: 20px;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear; 
}
.ca-sub{
  font-size: 14px;
  color: #ffc732;
}
.ca-menu li:hover{
  background-color: #1e1e1e;
}
.ca-menu li:hover .ca-icon{
  color: #ffba00;
  font-size: 120px;
  opacity: 0.2;
  left: -20px;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
.ca-menu li:hover .ca-main{
  color: #ffba00;
  opacity: 0.8;
}
.ca-menu li:hover .ca-sub{
  color: #fff;
  opacity: 0.8;
}
.ca-menu-active{
  background-color: #000 !important;
  
}
.ca-menu-active .ca-icon{
   color: #ffba00;
  font-size: 120px;
  opacity: 0.2;
  left: -20px;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg); 
}
.ca-menu-active .ca-main{
  color: #ffba00;
  opacity: 0.8;
}
