#poll {
    background-image: url('/img/pollbg.jpg');
    margin-top: 50px;
    border: solid 3px;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}
#poll #question {
    display: block;
    margin-bottom: 15px;
    font-size: 10px;
}
#poll #click {
    background: #3e86a1;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 15px;
    color: #ffffff;
    border-left: 10px solid #ffae00;
    width: 200px;
}
#poll #click #link {
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
}
#poll #click #link:hover {
    color: #ffae00;
}