div.jumbotron#bg1{
	 background-image: url('/img/bg-2.jpg');
	 background-repeat: no-repeat;
	 background-size: cover;
}
img#banner{
	width: 100%;
}

div.content{
	background-color: #edd8c1;
	box-shadow: 5px 5px 20px #666666; 
}
img.imgheader{
	width: 100%;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover !important;
}
.lbottom{
	color: white;
}
h6.bottomtext{
	padding-top: 270px;
	color: white;
	position: relative;
	text-align: center;
	/*opacity: .7;*/
}
img.imgfooter{
	width: 100%;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover !important;
}
.btnlogin{ 
	width: 90px;
	border-color: white;
	border: solid 2px;
	font-weight: bold;
	opacity: .7;
}
nav#topnav{
	background-color: #353332 !important;
}
hr{
	border-top: 3px solid black;
	width: 100%;
	opacity: 0.2;
}
.footer{
	text-align: center;
	
}
.lbottom{
	color: #ececec;	

}
.lbottom:hover{
	color: white;
	text-decoration: none;	
}
.howto{
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	width: 100%
}
.btntop{
	font-weight: bold;
	padding-right: 30px;
	color: #d5d5d5;
}
.btntop:hover{
    color: #ffae00;
    text-decoration: none;
}
.logo {
	position: absolute;
	filter: drop-shadow(0px 0px 20px #fff);
	width: 20%;
	margin-left: 50px;
	top: 50px;
	animation: bounceIn 0.6s;
	transform: rotate(0deg) scale(1) translateZ(0);
	transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
	cursor: pointer;
}
.logo:hover {
	transform: scale(1.1);
}
@keyframes bounceIn {
		0% {
		opacity: 1;
		transform: scale(.3);
		} 

		50% {
		opacity: 1;
		transform: scale(1.05);
		} 

		70% {
		opacity: 1;
		transform: scale(.9);
		}

		100% {
		opacity: 1;
		transform: scale(1);
		}
	}